.center-text {
    text-align:center;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
	display: block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element {
  .center-block();
}